<p>access token: <%= access_token %></p>
<a href="/user_info?token=<%= access_token %>">Click here to get user info</a><br>
<a href="/clients?token=<%= access_token %>">Click here to test API by getting all Clients for this account</a>